<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
    <title>Index</title>
<body>
    <h1>Hello there how you doin??</h1>
    <p>
        <!-- <%= tell%> -->
        <%= locals.text || "Default--Value" %><!-- this will only show Default--Value as output since text was never defined in the server; only tell was-->
        <br>
        <%= locals.tell ||'default value should be shown' %> 
    </p>
</body>
</html>